html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
}

#wrapper {
    width: 100%;
    height: 100%;
    padding-top: 15px;
    background: white;
}

#wrapper .label {
    margin-left: 15px;
}

/* #wrapper #color {
    background: inherit;
} */

#wrapper h1 {
    text-align: center;
}